<div class="body text-center">
    <div class="container">
        <div class="row">
            <h1 class="col col-lg-12 col-md-12 col-xs-12">Sign Up</h1>
            <div class="col col-lg-12 col-md-12 col-xs-12">
                <form #f="ngForm" (ngSubmit)="SignUp(f)">
                    
                    <input type="text" class="form-control" name="name" #name="ngModel" ngModel placeholder="Your Name" required>
                    <div class="alert alert-danger" *ngIf="name.touched && name.errors?.required">Name Is Required</div>

                    <input type="email" class="form-control" name="email" #email="ngModel" ngModel placeholder="Email" required email>
                    <div class="alert alert-danger" *ngIf="email.touched && email.errors?.required">Email Is Required</div>
                    <div class="alert alert-danger" *ngIf="email.touched && email.errors?.email">Your Input Dosent Match Email Format</div>

                    <input type="password" class="form-control" name="password" #password="ngModel" ngModel placeholder="Password" required minlength="6">
                    <div class="alert alert-danger" *ngIf="password.touched && password.errors?.required">Password Is Required</div>
                    <div class="alert alert-danger" *ngIf="password.touched && password.errors?.minlength">your password must be 6 number atlest</div>
                    
                    <input type="password" class="form-control" name="passwordConfig" #passwordConfig="ngModel" ngModel placeholder="passwordConfig" required>
                    <div class="alert alert-danger" *ngIf="passwordConfig.touched && passwordConfig.errors?.required">Password Is Required</div>
                    <div class="alert alert-danger" *ngIf="passwordConfig.touched && passwordConfig.value !== password.value">Password not identical</div>

                    <input type="text" class="form-control" name="address" #address="ngModel" ngModel placeholder="address" required>
                    <div class="alert alert-danger" *ngIf="address.touched && address.errors?.required">Address Is Required</div>

                    <button class="btn btn-primary" [disabled]="f.invalid || passwordConfig.value !== password.value">Creat Account</button>

                </form>
                <br>
                <div class="alert aler-danger" *ngIf="errorMass">{{errorMass}}</div>
            </div>
        </div>
    </div>
</div>
